*{
  margin: 0;
  padding: 0;
}
.num > h2 {
  font-size: 80px;
  font-weight: bolder;
  color: hsl(61.05deg 90.53% 62.75%);
}
.num h3{
  color: whitesmoke;
}
.num h1 {
  color: whitesmoke;
  margin: 10px;
  font-size: 100px;
  font-weight: bold;
}

.grad {
  background-image: radial-gradient( white 35%, #fa851e 65%);
}